#comp-column {
    .column {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;
        padding: 5px 10px;
        font-size: 22px;
        background-color: var(--elements);
        border: 1px var(--gray-dark) solid;

        .column-hour {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                width: 50px;
            }
        }

        p {
            font-size: 18px;
        }
    }
}