#comp-card {
    #card {
        display: flex;
        flex-direction: column;
        gap: 18px;
        background-color: var(--elements);
        padding: 20px 15px;
        margin: 10px 0px;
        width: 180px;
        border-radius: 10px;
        border: 1px var(--gray-dark) solid;

        .title {
            font-size: 20px;
        }

        .info {
            font-size: 32px;
        }
    }
}