:root {
    --background: #03012d;
    --elements: #272541;

    --orange: #ff7c0a;
    --blue-light: #4455da;
    --blue-dark: #2d1c9c;

    --white: #ffffff;
    --black: #000000;
    --gray-light: #d5d4d9;
    --gray-medium: #aeaeb7;
    --gray-dark: #3d3b5e;
}

#landing-page {
    background-color: var(--background);
    min-height: 100vh;
    color: var(--white);
    font-family: 'DM Sans', sans-serif;

    #header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;

        #button {
            display: flex;
            gap: 10px;
            font-size: 20px;
            background-color: var(--elements);
            padding: 10px 15px;
            border-radius: 10px;
            position: relative;
            cursor: pointer;

            .units {
                position: absolute;
                top: 50px;
                left: -75px;
                width: 200px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                background-color: var(--elements);
                padding: 10px;
                border-radius: 10px;
                box-shadow: 0 1px 5px var(--black);
                z-index: 1000;

                h3 {
                    font-size: 19px;
                    font-weight: 500;
                    margin-bottom: 5px;
                }

                .line {
                    width: 100%;
                    height: 1px;
                    background-color: var(--gray-dark);
                }

                .units-title {
                    font-size: 15px;
                    color: var(--gray-medium);
                }

                .units-option {
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 6px;
                    border-radius: 5px;
                }

                .units-option.active {
                    background-color: var(--gray-dark);
                }

                .units-option:hover {
                    background-color: var(--gray-dark);
                    cursor: pointer;
                }
            }

            img {
                width: 18px;
            }
        }
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    #loading-screen {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 80px;
            animation: spin 1s linear infinite;
        }
    }

    #not-found {
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: center;
        padding-top: 15px;

        h2 {
            font-size: 32px;
            font-weight: 700;
        }
    }

    main {
        display: flex;
        flex-direction: column;

        #title {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            h1 {
                font-size: 55px;
                padding: 5px 0px;
                font-family: 'Bricolage Grotesque', sans-serif;
            }

            #search {
                display: flex;
                align-items: center;
                gap: 20px;
                padding: 20px 0px 40px 0px;

                button {
                    padding: 15px;
                    width: 110px;
                    font-size: 18px;
                    border: none;
                    border-radius: 10px;
                    color: var(--white);
                    background-color: var(--blue-light);
                    cursor: pointer;
                }

                .input-wrapper {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    background-color: var(--elements);
                    padding: 15px 15px;
                    border-radius: 10px;
                    position: relative;

                    .suggestions {
                        position: absolute;
                        width: 510px;
                        background-color: var(--elements);
                        padding: 5px;
                        border-radius: 10px;
                        top: 55px;
                        left: 0px;
                        z-index: 1000;

                        .suggestion {
                            border-radius: 10px;
                            padding: 5px;
                        }

                        .suggestion:hover {
                            background-color: var(--gray-dark);
                            cursor: pointer;
                        }
                    }

                    img {
                        opacity: 0.7;
                    }

                    input {
                        background: transparent;
                        color: var(--white);
                        width: 450px;
                        border: none;
                        outline: none;
                        font-size: 18px;

                        &::placeholder {
                            color: var(--gray-medium);
                        }
                    }
                }
            }
        }

        #info {
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 20px;
            padding: 0px 60px;

            #info-1 {
                display: flex;
                flex-direction: column;
                gap: 20px;

                #today-card {
                    width: 100%;
                    max-width: 800px;
                    height: 200px;
                    border-radius: 20px;
                    
                    background-image: url('../../../public/assets/images/bg-today-large.svg');
                    background-size: cover;
                    background-repeat: no-repeat;

                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    #place-info {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0px 20px;

                        .place-info1 {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;

                            h2 {
                                font-size: 20px;
                                font-weight: 500;
                            }
                        }

                        .place-info2 {
                            display: flex;
                            align-items: center;

                            img {
                                width: 200px;
                            }

                            h1 {
                                font-size: 90px;
                                font-style: italic;
                                font-weight: 300;
                            }
                        }
                    }
                }

                #cards {
                    display: flex;
                    gap: 25px;
                }

                #week {
                    display: flex;
                    flex-direction: column;

                    h2 {
                        margin-top: 15px;
                    }

                    #week-cards {
                        display: flex;
                        gap: 10px;
                        margin: 10px 0px;
                    }
                }
            }
        }

        #info-2 {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: var(--elements);
            padding: 10px 15px;
            border-radius: 20px;

            .columns {
                display: flex;
                flex-direction: column;
                gap: 8px;
                max-height: 535px;
                overflow-y: auto;
            }

            .columns::-webkit-scrollbar {
                width: 10px;
            }

            .columns::-webkit-scrollbar-track {
                background-color: transparent;
            }   

            .columns::-webkit-scrollbar-thumb {
                background-color: var(--gray-dark);
                border-radius: 100px;
            }

            .hourly {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 5px 0px 5px;

                h3 {
                    font-size: 20px;
                }

                #hourly-select {
                    .select {
                        position: relative;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding: 8px 15px;
                        font-size: 18px;
                        border-radius: 5px;
                        cursor: pointer;
                        background-color: var(--gray-dark);

                        img {
                            width: 20px;
                        }
                    }

                    .options {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        padding: 5px;
                        margin-top: 5px;
                        border-radius: 10px;
                        width: 135px;
                        font-size: 18px;
                        background-color: var(--elements);
                        box-shadow: 0 1px 5px var(--black);
                        border: 1px var(--gray-dark) solid;

                        p {
                            padding: 8px 5px;
                            border-radius: 5px;
                            cursor: pointer;
                        }

                        p:hover {
                            background-color: var(--gray-dark);
                        }
                    }
                }
            }
        }

    }

    .attribution {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 18px;
        background-color: var(--elements);
        margin-top: 25px;
        padding: 15px 0px;

        a {
            color: var(--blue-light);
        }
    }
}

@media (max-width: 1185px) {
    #landing-page {
        #header {
            padding: 20px;
        }

        main {
            #title {
                text-align: center;
            }
            
            #info {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 35px;
            }
        }   
    }
}

@media (max-width: 768px) {
    #landing-page {
        #header {
            padding: 15px 20px;

            img {
                width: 150px;
            }

            #button {
                padding: 10px 12px;
                font-size: 16px;

                .units {
                    right: 0;
                    left: unset;
                }
            }
        }

        main {
            #title {
                h1 {
                    font-size: 64px;
                    padding: 20px;
                }

                #search {
                    width: 100%;
                    padding: 0 20px 30px 20px;
                    gap: 10px;

                    .input-wrapper {
                        width: 100%;

                        input {
                            width: 100%;
                            font-size: 16px;
                        }

                        .suggestions {
                            width: 100%;
                        }
                    }

                    button {
                        min-width: 110px;
                    }
                }
            }

            #info {
                display: flex;
                flex-direction: column;
                gap: 25px;
                padding: 0 20px;

                #info-1 {
                    #today-card {
                        height: auto;
                        min-height: 240px;
                        padding: 20px;
                        overflow: hidden;

                        #place-info {
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 25px;
                            padding: 0;

                            .place-info1 {
                                h1 {
                                    font-size: 42px;
                                    line-height: 1;
                                    word-break: break-word;
                                }

                                h2 {
                                    font-size: 22px;
                                    margin-top: 10px;
                                }
                            }

                            .place-info2 {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                img {
                                    width: 130px;
                                }

                                h1 {
                                    font-size: 80px;
                                }
                            }
                        }
                    }

                    #cards {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 15px;
                        margin: 0;
                    }

                    #week {
                        h2 {
                            margin-bottom: 10px;
                        }

                        #week-cards {
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                            gap: 20px;
                        }
                    }
                }

                #info-2 {
                    width: 100%;
                    padding: 15px;

                    .hourly {
                        gap: 15px;

                        h3 {
                            font-size: 25px;
                            line-height: 1.1;
                        }

                        #hourly-select {
                            .select {
                                padding: 10px 14px;
                                font-size: 16px;
                            }
                        }
                    }

                    .columns {
                        max-height: 450px;
                    }
                }
            }
        }

        .attribution {
            flex-direction: column;
            text-align: center;
            gap: 5px;
            padding: 20px;
            font-size: 20px;
        }
    }
}

@media (max-width: 375px) {
    #landing-page {
        #header {
            img {
                width: 120px;
            }

            #button {
                padding: 8px 10px;
                font-size: 15px;
            }
        }

        #not-found {
            text-align: center;

            h2 {
                font-size: 24px;
            }
        }

        main {
            #title {
                h1 {
                    font-size: 52px;
                    padding: 15px;
                }

                #search {
                    flex-direction: column;
                    align-items: stretch;

                    .input-wrapper {
                        width: 100%;
                    }

                    button {
                        width: 100%;
                    }
                }
            }

            #info {
                padding: 0 15px;

                #info-1 {
                    #today-card {
                        min-height: 260px;

                        #place-info {
                            .place-info1 {
                                h1 {
                                    font-size: 34px;
                                }

                                h2 {
                                    font-size: 25px;
                                }
                            }

                            .place-info2 {
                                img {
                                    width: 90px;
                                }

                                h1 {
                                    font-size: 54px;
                                }
                            }
                        }
                    }

                    #cards {
                        grid-template-columns: 1fr;
                    }

                    #week {
                        #week-cards {
                            grid-template-columns: 1fr 1fr 1fr;
                        }
                    }
                }
            }
        }

        .attribution {
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 5px;
        }
    }
}